In [0]:
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:

## You will probably have to save the "small_english_tweets.csv" to your own drive somewhere. Not sure how to read a file from a shared folder.
small_tweets = pd.read_csv('/content/drive/My Drive/MSBX_5420/small_english_tweets').drop(['Unnamed: 0', 'lang', 'country_code', 'place_full_name'], axis=1)

## Convert to datetime and rename column 'date'
small_tweets['created_at'] = pd.to_datetime(small_tweets['created_at'], errors='coerce', format="%Y-%m-%d").dt.date
small_tweets.columns = ['date', 'screen_name', 'text', 'source', 'favourites_count',
                        'retweet_count', 'followers_count', 'verified']

In [0]:
## Converting verified column to 1's and 0's
small_tweets['verified'] = small_tweets['verified'].replace(to_replace=True, value=1)

In [73]:
small_tweets.head()

         date     screen_name  ... followers_count verified
0  2020-03-04  David_Mulroney  ...            5666      0.0
1  2020-03-04  MarykeSchoonen  ...              41      0.0
2  2020-03-04      Arjit_Garg  ...             486      0.0
3  2020-03-04        latestly  ...           55685      1.0
4  2020-03-04    daily_thetha  ...           35093      0.0

[5 rows x 8 columns]

In [74]:
## country code and place full name have a lot of NaN values
small_tweets.isnull().sum()

date                0
screen_name         0
text                0
source              0
favourites_count    0
retweet_count       0
followers_count     0
verified            0
dtype: int64