In [18]:
import findspark
findspark.init()
import pyspark as ps
import warnings
from pyspark.sql import SQLContext

In [43]:
from pyspark.sql import SQLContext
from pyspark import SparkContext
sc = SparkContext()
sqlContext = SQLContext(sc)
data = sqlContext.read.format('csv').options(header='true', inferschema='false',index='false').load('small_english_tweets.csv')

In [49]:
# sc.stop()

In [45]:
type(data)

pyspark.sql.dataframe.DataFrame

In [46]:
data.show(5)

+--------------------+--------------------+------------+--------------------+------------------+----------------+-------------+------------+---------------+---------------+--------+----+
|                 _c0|          created_at| screen_name|                text|            source|favourites_count|retweet_count|country_code|place_full_name|followers_count|verified|lang|
+--------------------+--------------------+------------+--------------------+------------------+----------------+-------------+------------+---------------+---------------+--------+----+
|            12580835|2020-03-26T04:01:14Z|  AnnaKealan|hoping for more c...|Twitter for iPhone|             0.0|          0.0|        null|           null|             10|   False|  en|
|              590296|2020-03-12T04:04:07Z|DrPaulRLong1|Is Trump even con...|              null|            null|         null|        null|           null|           null|    null|null|
|#CoronavirusPande...|                null|        null|                null|              null|            null|         null|        null|           null|           null|    null|null|
|             #COVID"|  Twitter for iPhone|        51.0|                 1.0|              null|            null|          6.0|       False|             en|           null|    null|null|
|             7853272|2020-03-21T04:26:47Z|Sakthi_match|#coronavirus #Cov...|Twitter for iPhone|            41.0|          0.0|        null|           null|             61|   False|  en|
+--------------------+--------------------+------------+--------------------+------------------+----------------+-------------+------------+---------------+---------------+--------+----+
only showing top 5 rows

In [48]:
from pyspark.sql.functions import col
data.groupBy("country_code") \
    .count() \
    .orderBy(col("count").desc()) \
    .show()

+---------------+------+
|   country_code| count|
+---------------+------+
|           null|121455|
|          False| 28823|
|           True|  2952|
|             US|  1530|
|             GB|   464|
|            0.0|   334|
|             CA|   170|
|             IN|   160|
|             IE|    71|
|          16640|    63|
|          16641|    62|
|             AU|    60|
|            1.0|    54|
|          16744|    43|
|             NG|    42|
|Twitter Web App|    41|
|             ZA|    36|
|          16580|    32|
|            2.0|    32|
|             PH|    24|
+---------------+------+
only showing top 20 rows

In [10]:
drop_list = [['_c0',
 'screen_name',
 'source',
 'favourites_count',
 'retweet_count',
 'country_code',
 'place_full_name',
 'followers_count',
 'verified',
 'lang']]

In [40]:
data.columns

['_c0',
 'created_at',
 'screen_name',
 'text',
 'source',
 'favourites_count',
 'retweet_count',
 'country_code',
 'place_full_name',
 'followers_count',
 'verified',
 'lang']