From Kaggle: This dataset contains the Tweets of users who have applied the following hashtags: #coronavirus, #coronavirusoutbreak, #coronavirusPandemic, #covid19, #covid_19

From about 17 March, the dataset also included the following additional hashtags: #epitwitter, #ihavecorona

# Data Dictionary


**status_id**: The ID of the actual Tweet.  
**user_id**: The ID of the user account that Tweeted.  
**created_at**: The date and time of the Tweet.  
**screen_name**: The screen name of the account that Tweeted.  
**text**: The text of the Tweet.  
**source**: The type of app used.  
**reply_to_status_id**: The ID of the Tweet to which this was a reply.  
**reply_to_user_id**: The ID of the user to whom this Tweet was a reply.  
**reply_to_screen_name**: The screen name of the user to whom this Tweet was a reply.  
**is_quote**: Whether this Tweet is a quote of another Tweet.  
**is_retweet**: Whether this Tweet is a retweet.  
**favourites_count**: The number of favourites this Tweet has received.  
**retweet_count**: The number of times this Tweet has been retweeted.  
**country_code**: The country code of the account that Tweeted.  
**place_full_name**: The name of the place of the account that Tweeted.  
**place_type**: A description of the type of place corresponding with place_full_name.  
**followers_count**: The number of followers of the account that Tweeted.  
**friends_count**: The number of friends of the account that Tweeted.  
**account_lang**: The language of the account that Tweeted.  
**account_created_at**: The date and time that the account that Tweeted was created.  
**verified**: Whether the account that Tweeted is verified.  
**lang**: The language of the Tweet.

# Data Exploration + Cleanup

In [0]:
from time import sleep
import csv

import pandas as pd
import numpy as np 
import pandas as pd
import seaborn as sns
import glob
import json
import matplotlib.pyplot as plt

In [0]:
path = '/content/drive/My Drive/Unstructured Project/corona_tweets304.CSV'
corona_tweets = pd.read_csv(path)

In [0]:
corona_tweets.head()

             status_id              user_id  ... verified lang
0  1235160526780416001  1163436067904618496  ...    False  und
1  1235160526780416001  1163436067904618496  ...    False  und
2  1235160546451873797           2255210942  ...    False   en
3  1235160597475602432            366491737  ...    False   en
4  1235160647614291968             61557732  ...    False   en

[5 rows x 22 columns]

In [0]:
corona_tweets.shape

(526791, 22)

In [0]:
print(len(corona_tweets['created_at'].unique()))

234131

In [0]:
print(len(corona_tweets['screen_name'].unique()))
print(len(corona_tweets['source'].unique()))
print(len(corona_tweets['reply_to_status_id'].unique()))
print(len(corona_tweets['reply_to_user_id'].unique()))
print(len(corona_tweets['reply_to_screen_name'].unique()))
print(len(corona_tweets['country_code'].unique()))
print(len(corona_tweets['place_full_name'].unique()))
print(len(corona_tweets['place_type'].unique()))
print(len(corona_tweets['account_lang'].unique()))
print(len(corona_tweets['lang'].unique()))

269581
789
64325
42156
42166
170
6132
6
1
63

In [0]:
#we'll have to pull out en tweets only

corona_tweets['lang'].unique()

array(['und', 'en', 'es', 'fr', 'in', 'ur', 'or', 'hi', 'pl', 'ja', 'et',
       'lt', 'gu', 'kn', 'ta', 'zh', 'ht', 'it', 'fi', 'fa', 'ca', 'mr',
       'da', 'tl', 'te', 'el', 'tr', 'ar', 'ru', 'pt', 'bn', 'nl', 'lv',
       'th', 'uk', 'ro', 'de', 'ps', 'ko', 'sv', 'vi', 'si', 'sl', 'ne',
       'cs', 'ml', 'hu', 'pa', 'sd', 'is', 'ckb', 'iw', 'cy', 'no', 'dv',
       'eu', 'hy', 'am', 'bg', 'sr', 'km', 'lo', 'ka'], dtype=object)

In [0]:
corona_tweets = corona_tweets.drop(['account_lang'], axis=1)

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·
Mounted at /content/drive

Code To Get Data Combined. You don't need to run this!! I just wanted you to see the process and know that it was sound!

In [0]:
premarch = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-00 Coronavirus Tweets (pre 2020-03-12).CSV'
pre_march = pd.read_csv(premarch)

In [0]:
marchonetwo = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-12 Coronavirus Tweets.CSV'
marchone_two = pd.read_csv(marchonetwo)

In [0]:
marchonethree = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-13 Coronavirus Tweets.CSV'
marchone_three = pd.read_csv(marchonethree)

In [0]:
marchonefour = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-14 Coronavirus Tweets.CSV'
marchone_four = pd.read_csv(marchonefour)

In [0]:
marchonefive = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-15 Coronavirus Tweets.CSV'
marchone_five = pd.read_csv(marchonefive)

In [0]:
marchonesix = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-16 Coronavirus Tweets.CSV'
marchone_six = pd.read_csv(marchonesix)

In [0]:
marchoneseven = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-17 Coronavirus Tweets.CSV'
marchone_seven = pd.read_csv(marchoneseven)

In [0]:
marchoneeight = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-18 Coronavirus Tweets.CSV'
marchone_eight= pd.read_csv(marchoneeight)

In [0]:
marchonenine = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-19 Coronavirus Tweets.CSV'
marchone_nine = pd.read_csv(marchonenine)

In [0]:
marchtwozero= '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-20 Coronavirus Tweets.CSV'
marchtwo_zero = pd.read_csv(marchtwozero)

In [0]:
marchtwoone= '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-21 Coronavirus Tweets.CSV'
marchtwo_one = pd.read_csv(marchtwoone)

In [0]:
marchtwotwo= '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-22 Coronavirus Tweets.CSV'
marchtwo_two = pd.read_csv(marchtwotwo)

In [0]:
marchtwothree = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-23 Coronavirus Tweets.CSV'
marchtwo_three = pd.read_csv(marchtwothree)

In [0]:
marchtwofour = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-24 Coronavirus Tweets.CSV'
marchtwo_four = pd.read_csv(marchtwofour)

In [0]:
marchtwofive= '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-25 Coronavirus Tweets.CSV'
marchtwo_five = pd.read_csv(marchtwofive)

In [0]:
marchtwosix= '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-26 Coronavirus Tweets.CSV'
marchtwo_six = pd.read_csv(marchtwosix)

In [0]:
marchtwoseven= '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-27 Coronavirus Tweets.CSV'
marchtwo_seven = pd.read_csv(marchtwoseven)

In [0]:
marchtwoeight= '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-28 Coronavirus Tweets.CSV'
marchtwo_eight = pd.read_csv(marchtwoeight)

In [0]:
marchtwonine = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-29 Coronavirus Tweets.CSV'
marchtwo_nine = pd.read_csv(marchtwonine)

In [0]:
marchthreezero = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-30 Coronavirus Tweets.CSV'
marchthree_zero = pd.read_csv(marchthreezero)

In [0]:
marchthreeone = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-03-31 Coronavirus Tweets.CSV'
marchthree_one = pd.read_csv(marchthreeone)

In [0]:
aprone = '/content/drive/My Drive/Unstructured Project/coronavirus-covid19-tweets/2020-04-01 Coronavirus Tweets.CSV'
apr_one = pd.read_csv(aprone)

In [0]:
#combined all the data from all the days
corona_tweet = pd.concat([pre_march,marchone_two,marchone_three,marchone_four,marchone_five,marchone_six,marchone_seven,marchone_eight,marchone_nine,marchtwo_zero,marchtwo_one,marchtwo_two,marchtwo_three,marchtwo_four,marchtwo_five,marchtwo_six,marchtwo_seven,marchtwo_eight,marchtwo_nine,marchthree_zero,marchthree_one,apr_one])

In [0]:
#write to csv so my teammates won't have to run above everytime
corona_tweet.to_csv('combined_COVIDtweet.csv')

In [0]:
tweet_corona = '/content/drive/My Drive/Unstructured Project/combined_COVIDtweet.csv'
tweet_corona = pd.read_csv(tweet_corona)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,3,4,5,6,9,10,11,14,15,16,17,20,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
tweet_corona.head()

  Unnamed: 0            status_id  ...  verified lang
0          0  1235160526780416001  ...     False  und
1          1  1235160526780416001  ...     False  und
2          2  1235160546451873797  ...     False   en
3          3  1235160597475602432  ...     False   en
4          4  1235160647614291968  ...     False   en

[5 rows x 23 columns]

KeyError: ignored

In [0]:
tweet_corona.shape

(18918246, 23)

In [0]:
tweet_corona = tweet_corona[tweet_corona['lang']=='en']

NameError: ignored